{
  "openapi": "3.1.0",
  "info": {
    "title": "Lettuce Stream API",
    "description": "OpenAPI subset used by the API reference endpoint examples.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.lettucestream.com"
    }
  ],
  "paths": {
    "/api/runtime-config": {
      "get": {
        "summary": "Get runtime configuration",
        "description": "Returns public runtime configuration values used by client integrations.",
        "responses": {
          "200": {
            "description": "Runtime configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/api-keys": {
      "get": {
        "summary": "List API keys",
        "description": "Returns API keys for the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke API key",
        "description": "Revokes an API key and returns the updated key list.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated API key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks/subscriptions": {
      "post": {
        "summary": "Create webhook subscription",
        "description": "Creates a webhook subscription for the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription and optional secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/spotlights/list": {
      "get": {
        "summary": "List active spotlights",
        "description": "Returns currently active spotlight items.",
        "responses": {
          "200": {
            "description": "Active spotlights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Spotlight"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RuntimeConfig": {
        "type": "object",
        "required": [
          "relayUrl",
          "captionsRelayUrl",
          "rtmpIngestUrl",
          "appBaseUrl",
          "publicApiKey"
        ],
        "properties": {
          "relayUrl": {
            "type": "string"
          },
          "captionsRelayUrl": {
            "type": "string"
          },
          "rtmpIngestUrl": {
            "type": "string"
          },
          "appBaseUrl": {
            "type": "string"
          },
          "publicApiKey": {
            "type": "string"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": [
          "id",
          "label",
          "prefix"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "lastUsedAt": {
            "type": "string"
          },
          "revokedAt": {
            "type": "string"
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "string"
          }
        }
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "required": [
          "key",
          "keyId",
          "keys"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "keyId": {
            "type": "string"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          }
        }
      },
      "RevokeApiKeyRequest": {
        "type": "object",
        "required": [
          "keyId"
        ],
        "properties": {
          "keyId": {
            "type": "string"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "required": [
          "id",
          "url",
          "events",
          "description",
          "enabled"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "CreateWebhookSubscriptionRequest": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          }
        }
      },
      "WebhookSubscriptionResponse": {
        "type": "object",
        "required": [
          "subscription"
        ],
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/WebhookSubscription"
          },
          "secret": {
            "type": "string"
          }
        }
      },
      "Spotlight": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "platform",
          "url",
          "startsAt"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
